/* styles.css */
body, html {
  height: 100%;
  margin: 0;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes the full height */
  padding: 0; /* Ensure no padding for the container */
}

header, footer {
  background-color: #3f51b5;
  color: white;
  text-align: center;
  padding: 1rem;
}

.main-layout {
  display: flex;
  flex: 1; /* Take up the remaining space */
}

app-sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

app-main-content {
  flex: 1;
  padding: 1rem;
}
